h1 {
	font-family:'Quicksand', monospace;
	font-weight: bold; 
}
h2 {
	line-height: 80%;
}
span {
	font-family:'Quicksand', monospace;
	font-weight: bold; 
}
h3 {
	font-family:'Quicksand', monospace;
	font-weight: bold;
}
#runningTotal {
	padding-bottom: 20px; 
}
.crystal-image {
	width: 300px;
	height: 300px;
}